<h3>Créditos:</h3>

<div class="creditos">
    <p>Autor: ARP</p>
    <p><img src="images/author.jpg" alt="Autor" width="100" /></p>
</div>

<div class="creditos">
    <p>Quiz original: Juan Quemada Vives </p>
    <p><a href="http://www.upm.es">Universidad Politécnica de Madrid</a></p>
    <p><img src="images/upm.jpg" alt="UPM" width="100" /></p>
</div>
