@charset "UTF-8";
/* CSS Document */

body {
    background: #333;
    font-size: xx-large;
}

#page-wrap:after {
    content: "Smartphone Layout";
}

h2 span, section h3 {
    display: none;
}

footer, input {
    font-size: large;
}

