@charset "UTF-8";
/* CSS Document */

body {
    background: #333;
    font-size: x-large;
}

#page-wrap:after {
    content: "Smartphone Layout";
}

h2 span, section h3 {
    display: none;
}

nav span {
    margin: 0em 0.1em 0em 0em;
}

section {
   min-height: 480px;
}

footer, input, div.colpreg button#crear {
    font-size: large;
}

footer a {
   display: inline-block;
}

div.colpreg, div.coltabla {
   /*float: left;*/
   margin: 0.1em 0.1em 0em 0em;
   padding-left: 0.1em;
   width:100%;
}

div.coltabla table {
   width: 15em;
   /*padding-top: 0.5em;*/
   font-size: 1em;
}

table td#tematica, table td#preguntas, table td.opciones {
    border-bottom-width: 0px;
    text-align: left;
}

table tr {
   display:block;
   margin: 15px 0 0 0;
}

table td {
   display:block;
   border:0;
}

table td.opciones {
   display: inline-block;
   /*margin: 0.2em 0.5em 0.2em 0;
   padding: 0.2em 0.2em 0 0;*/
}