@charset "UTF-8";
/* CSS Document */

* {
    margin:0;
    padding:0;
}


body {
    font: 16px Georgia, serif;
}

h2 {
    color: #000080;
}

h3 {
    color: #0000FF;
}

#page-wrap {
    margin:2% auto;
    color: #FFF;
}

#page-wrap > .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: #000;
}

section > div {
    padding: 0.2em;
}

section {
    min-height: 300px;
}

header, nav, section, footer {
    background: #EEE;
    text-align:center;
}

nav span {
    margin: 0em 1em 0em 0em;
}

nav span a {
    text-decoration:none;
    color: #047D35;
}

div.creditos {
    margin: 1em auto;
}

div.colpreg, div.coltabla {
   float: left;
   border-left: 2px solid #269800;
   text-align:left;
   margin: 0.5em 0.5em 0em 0em;
   padding-left: 0.5em;
}

div.colpreg p {
   margin-top: 0.2em;
}

/*div.colpreg form label {
   display: block;
}*/

div.coltabla table {
 display:block;
   height:200px;
   overflow: auto;
  background-color:#F5FAEF;
  /*color:#FFFF00;*/
  /*width: 30em;*/
  /*height: 12em;*/
  /*margin:1em auto;*/
  margin: 10px auto;
  padding: 0.5em 0 1.5em 0;
  font-size: 1em;
  border-collapse:collapse;  
}

table tr th {
  margin-bottom: 0.2em;
  text-align: center;
  border-bottom: 3px solid #0000FF;
}

table td#tematica, table td#preguntas, table td.opciones {
   text-align: center;
   border-bottom: 1px solid #3B2900;
}

table td a {
   margin: 0 1em 0 1em;
   text-decoration:none;
}

table td a:hover {
   color:#068600;
}

table td#tematica a {
   color: #AC04FF;
}

table button {
   margin: 0.5em 1em 0.5em 0.1em;
}

table button#borrar {
   color: #FF0000;
}

footer.main a {
   margin:0 1em 0 1em;
   text-decoration: none;
   color:#02B9FA; 
}

nav span a:hover, footer.main a:hover {
   color:#530406;
}

button#borrar {
    color: #FF0000;
}

p#nuevocom {
    margin: 1em auto;
}

p#comentarios {
    border-bottom: 1px solid #85F;
    margin: 0.5em ;
}

.field { 
   margin: 10px 0;
}

.right {
   float: right;
}

#ErrorMsgs { 
   color: #f61;
   font-size: smaller
}

/*  
a {
  color: #00B7FF;
}
*/
