@charset "UTF-8";
/* CSS Document */

* {
    margin:0;
    padding:0;
}


body {
    font: 16px Georgia, serif;
}

h3 {
    color: #0000FF;
}

#page-wrap {
    margin:2% auto;
    color: #FFF;
}

#page-wrap > .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: #000;
}

section > div {
    padding: 0.2em;
}

section {
    min-height: 280px;
}

header, nav, section, footer {
    background: #EEE;
    text-align:center;
}

nav span {
    margin: 0em 1em 0em 0em;
}

nav span a {
    text-decoration:none;
    color: #047D35;
}

div.creditos {
    margin: 1em auto;
}

div.columna {
   float: left;
   border-left: 1px solid #269800;
   text-align:left;
   margin: 0.5em 0.5em 0em 0em;
   padding-left: 0.5em;
}

div.columna {
   display:block;
}

footer.main a {
   margin:0 1em 0 1em;
   text-decoration: none;
   color:#02B9FA; 
}

nav span a:hover, footer.main a:hover {
   color:#530406;
}

button#borrar {
    color: #FF0000;
}

#ErrorMsgs { 
   color: #f61;
   font-size: smaller
}

/*  
a {
  color: #00B7FF;
}
*/
