@charset "UTF-8";
/* CSS Document */

body {
    background: #999;
}

#page-wrap:after {
    content: "Wide Layout";
}

nav {
    float: left;
    width: 15%;
    height: 360px;
}

nav span {
    margin: 0em 10em 0em 0em;
}

nav span a {
    display:inline-block;
    margin: 1em 5em 1em 0em;
}

section {
    float: right;
    width: 80%;
    min-height: 380px;
}

div.columna table {
  /*width: 20em;*/
  height: 20em;
}

footer {
    clear: both;
    display: block;
}

